.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Set the height to occupy the full viewport height */
    background-color: #f0f0f0; /* Optional background color */
  }
  
  .login-card {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 300px; /* Adjust the width as needed */
  }
  
  .login-card h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  